.App {
  text-align: center;
}

#nftImage{
  width: 80%;
}

#nftMetadataDisplay{
  width: 60%;
  margin: 0 auto;
}

.nftCollection{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
}